{% extends "rental/base.html" %}
{% block content %}
<div class="content-div">
	<div class="title-div">
		<p>關於丹尼</p>
	</div>
	<div class="title-image-div" id="about-title-image-div"></div>
	<div class="about-content-div" id="about-content-div-1">
		<h3>緣起</h3>
		<br/>
{% for about in abouts %}
		<p>{{ about.description }}</p>
{% endfor %}
	</div>
	<div class="about-content-div" id="about-content-div-2">
		<h3>交通</h3>
		</br>
        {% if transportation_list %}
            {% for transportation in transportation_list %}
              
                <h4>{{ transportation.name }}</h4>
                <p>{{ transportation.description }}</p></br>
            {% endfor %}
        {% else %}
          <p>please google it.</p>
        {% endif %}
	</div>
</div>
{% endblock %}
