{% extends "rental/base.html" %}
{% block content %}
<div class="content-div">
	<div class="title-div">
		<p>訂房需知</p>
	</div>
	<div class="title-image-div" id="reservation-title-image-div"></div>
	<div class="gap-div"></div>
	<div id="reservation-main-div">
		<div id="reservation-content-div">
{% for reservation in reservations %}
<h3>{{ reservation.topic }}</h3>
	{% for subtopic in reservation.topiccontent_set.all %}
                {% if subtopic.subtopic %}
		<h4>{{ subtopic.subtopic }}</h4>
                {% endif %}
                {% if subtopic.description %}
		<p>>> {{ subtopic.description }}</p>
                {% endif %}
	{% endfor %}
	<br/>
{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
